<div style="position:relative;left:40px" ng-controller="IndexCtrl">
<div class="row">
<div class="col-md-3 col-sm-4 col-xs-6">
<div class="thumbnail" style="border: none;">
<!-- <a href="http://newtest.infibeam.com/tablets/sony-xperia-z-tablet/P-E-PE-Sony-Xperia-Z-z.html#variantId=P-E-PE-Sony-Xperia-Z-32-Black" title="Sony Xperia Z Tablet " alt="Sony Xperia Z Tablet "> -->
<div class="product-img row">
<img src="/images/sonyxperiazfront09e08.jpg.b6997935b8.999x165x220.jpg" border="0" alt="Sony Xperia Z Tablet " data-title="P-E-PE-Sony-Xperia-Z-32-Black" title="Sony Xperia Z Tablet " class="img-responsive">
<button type="button" id="P-mobi-29853714660" class="btn btn-default btn-lg" onclick=add(this)>
  <span class="glyphicon glyphicon-star"></span> Star 1
</button>
</div>
<div class="title row">
Sony Xperia Z Tablet
</div>
<div class="price row">
<span class="final-price"><span class="c-inr">Rs.</span> 43,990</span>
<span class="scratch hidden-xs hidden-sm hidden-md">46,990</span>
<span class="discount">
7% OFF
</span>
</div>
<div class="offer"></div>
<!-- </a> -->
</div>
</div>
<div class="col-md-3 col-sm-4 col-xs-6">
<div class="thumbnail" style="border: none;">
<!-- <a href="http://newtest.infibeam.com/tablets/micromax-canvas-tab-p650/P-poel-92427963691-cat-z.html#variantId=P-poel-60331670391" title="Micromax Canvas Tab P650, blue, 16 gb" alt="Micromax Canvas Tab P650, blue, 16 gb"> -->
<div class="product-img row">
<img src="/images/micromaxcanvastabp650400x400imadztfc6y9cbk4y.jpeg.d77f0bd167.999x165x220.jpg" border="0" alt="Micromax Canvas Tab P650, blue, 16 gb" data-title="P-poel-60331670391" title="Micromax Canvas Tab P650, blue, 16 gb" class="img-responsive">
<button type="button" id="P-mobi-57663899229" class="btn btn-default btn-lg" onclick=add(this)>
  <span class="glyphicon glyphicon-star"></span> Star 2
</button>
</div>
<div class="title row">
Micromax Canvas Tab P650, blue, 16 gb
</div>
<div class="price row">
<span class="final-price"><span class="c-inr">Rs.</span> 16,449</span>
<span class="scratch hidden-xs hidden-sm hidden-md">16,999</span>
<span class="discount">
4% OFF
</span>
</div>
<div class="offer"></div>
<!-- </a> -->
</div>
</div>
<div class="col-md-3 col-sm-4 col-xs-6">
<div class="thumbnail" style="border: none;">
<!-- <a href="http://newtest.infibeam.com/tablets/lava-e-tab-velo-tablet/P-poel-31714960436-cat-z.html#variantId=P-poel-57188938381" title="Lava E Tab Velo+ Tablet, black, 4 gb" alt="Lava E Tab Velo+ Tablet, black, 4 gb"> -->
<div class="product-img row">
<img src="/images/lavaetabveloplus.jpg.11710f27c2.999x165x220.jpg" border="0" alt="Lava E Tab Velo+ Tablet, black, 4 gb" data-title="P-poel-57188938381" title="Lava E Tab Velo+ Tablet, black, 4 gb" class="img-responsive">
<button type="button" id="P-mobi-18796038837" class="btn btn-default btn-lg" onclick=add(this)>
  <span class="glyphicon glyphicon-star"></span> Star 3
</button>
</div>
<div class="title row">
Lava E Tab Velo+ Tablet, black, 4 gb
</div>
<div class="price row">
<span class="final-price"><span class="c-inr">Rs.</span> 4,699</span>
<span class="scratch hidden-xs hidden-sm hidden-md">4,899</span>
<span class="discount">
5% OFF
</span>
</div>
<!-- </a> -->
</div>
</div>
<div class="col-md-3 col-sm-4 col-xs-6">
<div class="thumbnail" style="border: none;">
<!-- <a href="http://newtest.infibeam.com/tablets/sony-xperia-z-tablet/P-E-PE-Sony-Xperia-Z-z.html#variantId=P-E-PE-Sony-Xperia-Z-32-Black" title="Sony Xperia Z Tablet " alt="Sony Xperia Z Tablet "> -->
<div class="product-img row">
<img src="/images/sonyxperiazfront09e08.jpg.b6997935b8.999x165x220.jpg" border="0" alt="Sony Xperia Z Tablet " data-title="P-E-PE-Sony-Xperia-Z-32-Black" title="Sony Xperia Z Tablet " class="img-responsive">
<button type="button" id="P-mobi-20512755108" class="btn btn-default btn-lg" onclick=add(this)>
  <span class="glyphicon glyphicon-star"></span> Star 4
</button>
</div>
<div class="title row">
Sony Xperia Z Tablet
</div>
<div class="price row">
<span class="final-price"><span class="c-inr">Rs.</span> 43,990</span>
<span class="scratch hidden-xs hidden-sm hidden-md">46,990</span>
<span class="discount">
7% OFF
</span>
</div>
<div class="offer"></div>
<!-- </a> -->
</div>
</div>
<div class="col-md-3 col-sm-4 col-xs-6">
<div class="thumbnail" style="border: none;">
<!-- <a href="http://newtest.infibeam.com/tablets/micromax-canvas-tab-p650/P-poel-92427963691-cat-z.html#variantId=P-poel-60331670391" title="Micromax Canvas Tab P650, blue, 16 gb" alt="Micromax Canvas Tab P650, blue, 16 gb"> -->
<div class="product-img row">
<img src="/images/micromaxcanvastabp650400x400imadztfc6y9cbk4y.jpeg.d77f0bd167.999x165x220.jpg" border="0" alt="Micromax Canvas Tab P650, blue, 16 gb" data-title="P-poel-60331670391" title="Micromax Canvas Tab P650, blue, 16 gb" class="img-responsive">
<button type="button" id="P-mobi-72333903861" class="btn btn-default btn-lg" onclick=add(this)>
  <span class="glyphicon glyphicon-star"></span> Star 5
</button>
</div>
<div class="title row">
Micromax Canvas Tab P650, blue, 16 gb
</div>
<div class="price row">
<span class="final-price"><span class="c-inr">Rs.</span> 16,449</span>
<span class="scratch hidden-xs hidden-sm hidden-md">16,999</span>
<span class="discount">
4% OFF
</span>
</div>
<div class="offer"></div>
<!-- </a> -->
</div>
</div>
<div class="col-md-3 col-sm-4 col-xs-6">
<div class="thumbnail" style="border: none;">
<!-- <a href="http://newtest.infibeam.com/tablets/lava-e-tab-velo-tablet/P-poel-31714960436-cat-z.html#variantId=P-poel-57188938381" title="Lava E Tab Velo+ Tablet, black, 4 gb" alt="Lava E Tab Velo+ Tablet, black, 4 gb"> -->
<div class="product-img row">
<img src="/images/lavaetabveloplus.jpg.11710f27c2.999x165x220.jpg" border="0" alt="Lava E Tab Velo+ Tablet, black, 4 gb" data-title="P-poel-57188938381" title="Lava E Tab Velo+ Tablet, black, 4 gb" class="img-responsive">
<button type="button" id="P-mobi-94594073885" class="btn btn-default btn-lg" onclick=add(this)>
  <span class="glyphicon glyphicon-star"></span> Star 6
</button>
</div>
<div class="title row">
Lava E Tab Velo+ Tablet, black, 4 gb
</div>
<div class="price row">
<span class="final-price"><span class="c-inr">Rs.</span> 4,699</span>
<span class="scratch hidden-xs hidden-sm hidden-md">4,899</span>
<span class="discount">
5% OFF
</span>
</div>
<!-- </a> -->
</div>
</div>

</div>
</div>
